[*]
charset=utf-8
end_of_line=crlf
insert_final_newline=false
indent_style=space
indent_size=4

[{*.h,*.cc,*.ii,*.cpp,*.mm,*.tcc,*.hxx,*.hp,*.hh,*.cxx,*.hpp,*.m,*.i,*.c,*.h++,*.icc,*.c++,*.pch,*.inl,*.cp}]
indent_style=space
indent_size=2

