# CLion
cmake-build-debug/
.idea/

# CMake
CMakeLists.txt.user
**/CMakeFiles/
**/cmake_install\.cmake
**/CMakeCache\.txt
**/Makefile

# Visual Studio
.vs/
.vscode/

# Conan
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt

# CPack
CPackSourceConfig.cmake
CPackConfig.cmake

# Build artifacts
build/
bin/
*.a
__pycache__/
