# CLion
cmake-build-debug/
.idea/Chess.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml

# CMake
CMakeLists.txt.user
**/CMakeFiles/
**/cmake_install\.cmake
**/CMakeCache\.txt
**/Makefile

# Visual Studio
.vs/

# Conan
conanbuildinfo\.cmake
conanbuildinfo\.txt
conaninfo\.txt

build/

\.vscode/
